# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Dungeon Crawler.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Hold\Game Dev\Unity\Dungeon Crawler\.idea\.idea.Dungeon Crawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
